.center {
    text-align: center;
    justify-self: center;
    align-self: center;
    width: 100%;
}

.hebrew-text {
    direction: rtl;
    font-size: 3.5vw;
}

.hebrew-text-small.important{
    direction: rtl !important;
    font-size: 1rem !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    letter-spacing: 0.00938em !important;
}

.padding {
    padding-top: 15px;
    font-size: 20px !important;
    font-weight: bold !important;
    font-family: Calibri;
}

.Calibri {
    font-family: Calibri;
}

.full-width {
    width: 100%;
}